[Unit]
Description=Mqtt play 
After=NetworkManager

[Service]
User=robot
Type=simple
TimeoutStopSec=10
ExecStartPre=/bin/sleep 5
ExecStart=python3 /home/orin/media-transmission/mqtt_play.py
Restart=on-failure

[Install]
WantedBy=multi-user.target