[Unit]
Description=TITA image pub service.
After=tita-bringup.service

[Service]
User=robot
Type=simple
#TimeoutStopSec=10
ExecStartPre=/bin/sleep 5
ExecStart=python3 /home/robot/ros2_common_ws/mqtt_play.py
Restart=on-failure

[Install]
WantedBy=multi-user.target