[Unit]
Description=TITA arecord service.
After=NetworkManager.service

[Service]
User=orin
Type=simple
TimeoutStopSec=10
ExecStartPre=/bin/sleep 5
ExecStart=/usr/media-transmission/arecord.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target