[Unit]
Description=Mqtt window
After=NetworkManager.service

[Service]
User=orin
Type=simple
TimeoutStopSec=10
# 关键环境变量
ExecStartPre=/bin/sleep 5
ExecStart=source /home/orin/.bashrc && python3 /usr/media-transmission/mqtt_window_control.py
Restart=on-failure

[Install]
WantedBy=multi-user.target