[Unit]
Description=TITA code follow service.
After=tita-bringup.service

[Service]
User=robot
Type=simple
TimeoutStopSec=10
EnvironmentFile=/etc/ros_env
ExecStart=/usr/bin/bash -c "sleep 25 && source /opt/ros/humble/setup.bash && python3 /usr/code-follow/gesture-follow.py"
Restart=on-failure

[Install]
WantedBy=multi-user.target
