[Unit]
Description=TITA switch state service.
After=tita-bringup.service

[Service]
User=robot
Type=simple
EnvironmentFile=/etc/ros_env
ExecStart=/usr/bin/bash -c "sleep 10 && source /opt/ros/humble/setup.bash && python3 /usr/code-follow/switch-state.py"
Restart=on-failure

[Install]
WantedBy=multi-user.target
