[Unit]
Description=TITA image-pub service.
After=mediamtx.service

[Service]
User=root
Type=simple
WorkingDirectory=/usr/tita-app
ExecStart=/usr/bin/bash -c "sleep 11 && source /opt/ros/humble/setup.bash && python3 image-pub.py"
Restart=on-failure

[Install]
WantedBy=multi-user.target
